body {
  background-color: #eee;
}

@font-face {
  font-family: 'JeonjuCraftMjB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.user-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.list-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space {
  margin-left: 5px;
}

.user-name {
  font-weight: bold;
  margin-left: -10px;
}



.user-img {
  margin-right: -3px;
  margin-bottom: -3px;
}

.user-img-1 {
  margin-right: 7px;

}

.write {
  font-weight: bold;
}

.login-info {
  margin-top: 30px;
  display: flex;
  gap: 10px;

}


.hardhat-img {
  margin-right: 15px;
  margin-bottom: -4px;
}



.register {
  background-color: white;
  width: 70vh;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.main-container {
  margin-top: -30px;
}



.form {
  width: 50vh;
  
}

.input-box input {
  width: 100%;
}


.register {
  border: 1px solid lightgray;
  border-radius: 3%;
}







.line {
  display: flex;
  justify-content: center;
}

.left {
  margin-top: 10px;
  width: 200px;
  height: 1px;
  background-color:  lightgray;
  margin-right: 13px;

}

.right {
  margin-left: 13px;
  margin-top: 10px;
  width: 200px;
  height: 1px;
  background-color:  lightgray;
}
.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 400px;
}


.register p {
  margin-bottom: 3px;

}

.register h2 {
  text-align: center;
}


.register-container {
  display: flex;
  justify-content: center;
}

.write-btn {
  margin-top: 30px;
  cursor: pointer;
  background-color: white;
  width: 100px;
}

.register-btn {
  border: 1px solid lightgray; 
  background-color: white;
}

.register-btn:hover {
  border: 1px solid #3F96FE; 
  cursor: pointer;
  color: #4097FE;
}


.delete-btn {
  margin-left: 10px;
  font-size: 14px;
  padding: 6px 23px;
  background: white;
  border: 1px solid lightgray; 
  border-radius: 5px;
}

.delete-btn:hover{
  border: 1px solid #3F96FE; 
  cursor: pointer;
  color: #4097FE;
 
}

.write-btn:hover {
  border: 1px solid lightblue; 
  color: lightblue; 
}


.write-textarea {
  width: 93%;
}

.write-input {
  width: 30%;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 30px;
}


.edit-btn {
  width: 70px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  margin-left: 80%;
}




.connect-account {
  font-family: 'JeonjuCraftMjB';
}



.main-name {
  font-family: 'JeonjuCraftMjB';
  margin-top: 50px;
  text-align: center;
  color: #1853DB
}

.list-bg {
  padding: 10px;
  width: 60%;
}

.pair {
  display: flex;
  background-color: black;
}

.list-bg-1 {
  padding: 10px;
  width: 80%;
}
.list-item {
  white-space: nowrap;
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  
}



.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin : 5px 0px;
} 


.p-20 {
  padding: 20px;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
} 

.logout-btn {
  padding: 5px 7px;
  margin-top: -3px;
  margin-left: -12px;
  background-color: #eee;
  font-weight: bold;
  border: 1px solid black;
}

.login-btn {
  border: 1px solid lightgray; 
  background-color: white;
}

.login-btn:hover {
  border: 1px solid #3F96FE; 
  cursor: pointer;
  color: #4097FE;
}

.logout-btn:hover {
  color: red;
}


a {
  text-decoration: none;
  color : black;
} 